<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.is4300.homez">

    <application
        android:name=".HomEzApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.onboarding.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.onboarding.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".activity.onboarding.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.onboarding.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.chore.ChoreActivity"
            android:label="@string/title_activity_chore"
            android:parentActivityName=".activity.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.status.StatusActivity"
            android:label="@string/title_activity_status"
            android:parentActivityName=".activity.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.calendar.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".activity.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.billsplit.BillSplitActivity"
            android:label="@string/title_activity_bill_split"
            android:parentActivityName=".activity.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.settings.PersonalSettingsActivity"
            android:label="Personal Settings"
            android:parentActivityName=".activity.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.onboarding.HouseActivity"
            android:label="@string/title_activity_house"
            android:noHistory="true"
            android:parentActivityName=".activity.onboarding.RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.onboarding.RegisterActivity" />
        </activity>
        <activity
            android:name=".activity.status.StatusSettingsActivity"
            android:label="Status Settings"
            android:parentActivityName=".activity.status.StatusActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.status.StatusActivity" />
        </activity>
        <activity
            android:name=".activity.settings.HomeSettingsActivity"
            android:label="House Settings"
            android:parentActivityName=".activity.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.settings.LegalActivity"
            android:label="Legal"
            android:parentActivityName=".activity.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.chore.AddChoreActivity"
            android:label="Add Chore"
            android:parentActivityName=".activity.chore.ChoreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.chore.ChoreActivity" />
        </activity>
        <activity
            android:name=".activity.calendar.AddEventActivity"
            android:label="Add Event"
            android:parentActivityName=".activity.calendar.CalendarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.calendar.CalendarActivity" />
        </activity>
        <activity android:name=".activity.calendar.EditEventActivity"
            android:label="Edit Event"
            android:parentActivityName=".activity.calendar.CalendarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.calendar.CalendarActivity" />
        </activity>
        <activity android:name=".activity.chore.EditChoreActivity"
            android:label="Edit Chore"
            android:parentActivityName=".activity.chore.ChoreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.chore.ChoreActivity" />
        </activity>
        <activity android:name=".activity.settings.ChangePasswordActivity"
            android:label="Change Password"
            android:parentActivityName=".activity.settings.PersonalSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.is4300.homez.activity.settings.PersonalSettingsActivity" />
        </activity>
    </application>

</manifest>